#LOOP

In [1]:
l = [23, 42, 53, 66]

In [2]:
for i in l:  #for <index> in <iterator>
    print(i)

23
42
53
66

In [4]:
len(l)

4

In [5]:
for i in range(0,4):
    print(l[i])

23
42
53
66

In [6]:
for i in range(0,len(l)):
    print(l[i])

23
42
53
66

In [7]:
sum = 0
for i in range(0,len(l)):
    sum = sum + l[i]
print(sum)

184

In [8]:
n = 5
for i in range(1,11):
    print(f"{n} x {i} = {n*i} ")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
result = 1
n = 4
for i in range (1,n+1):
    result = result * n
print(result)

256

In [11]:
n = 5
i = 1
while i<=n:
    print(" * " * i)
    i=i+1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [13]:
n = 5
i = n
while i>=1:
    print(" * " * i)
    i=i-1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [15]:
string = "Python"
index = 0
while index < len(string):
    print(string[index])
    index = index + 1

P
y
t
h
o
n

In [22]:
num = int(input("Enter number:"))
while num>=1:
    print(num)
    num = num -1

Enter number:10
10
9
8
7
6
5
4
3
2
1

In [26]:
num = int(input("Enter number:"))
for i in range(num,0,-1):
    print(i)

Enter number:10
10
9
8
7
6
5
4
3
2
1

In [29]:
sum = 0
for i in range(2,6,2):
    sum = sum + i
print(sum)

6

In [32]:
def my_func(name):
    print("Hello",name)
    
my_func("sanjay")

Hello sanjay

In [33]:
def my_func():
    return "hello"
result = my_func()

In [34]:
print(result)

hello

In [111]:
num = int(input("Enter Number:"))
i = num
while num >= 1:
    print(f" {num} "*i)
    num=num-1 
    i = i - 1

Enter Number:5
 5  5  5  5  5
 4  4  4  4
 3  3  3
 2  2
 1

In [67]:
def test1():
    list1=[1,2,3,4]
    sum = 0
    for i in l:
        sum = sum + i
    return sum

In [68]:
result=test1()

In [69]:
print(result)

184

In [71]:
def test2():
    list = [1,2,3,4,"abc","xyz",5,6,7,"ijk",8,9,10]
    sum = 0
    for i in list:
        if type(i) == int:
            sum = sum + i
    print(sum)

In [72]:
test2()

55

In [81]:
def add(a,b):
    """
    calculates addition of two numbers
    :params:'a' is a firt number
    :params:'b' is a second number
    :returns sum of two numbers
    """
    sum = a+b
    return sum

In [78]:
add(5,5)

10

In [83]:
print(add.__doc__)

    calculates addition of two numbers
    :params:'a' is a firt number
    :params:'b' is a second number
    :returns sum of two numbers

In [101]:
list4=[1,2,3,'a','b',6,7,8,'c','d']

In [102]:
def test3(list4=list()):
    li_str=[]
    li_int=[]
    for i in list4:
        if type(i)==str:
            li_str.append(i)
        if type(i)==int:
            li_int.append(i)
    return li_str,li_int

In [103]:
li_str,li_int=test3(list4)

In [104]:
li_str

['a', 'b', 'c', 'd']

In [105]:
li_int

[1, 2, 3, 6, 7, 8]